MONGO_INITDB_ROOT_USERNAME=mongo_admin
MONGO_INITDB_ROOT_PASSWORD=<mongodb-root-password>
MONGO_INITDB_DATABASE=janji-nikah
JANJI_NIKAH_APP_PASSWORD=<mongodb-app-password>
JANJI_NIKAH_BACKUP_PASSWORD=<mongodb-backup-password>
